<rewriteMaps>
    <rewriteMap name="Redirect">
{% for page in site.redirect_pages %} {% for redirect in page.previous_url %}
<add key="{{site.baseurl}}{{ redirect }}" value="{{ page.url | remove_first: '/' | replace: '.html', '' }}"/>{% endfor %}{% endfor %}
<add key="/reporting/add-the-telerik-private-nuget-feed-to-visual-studio.html" value="/telerikreporting/using-reports-in-applications/how-to-add-the-telerik-private-nuget-feed-to-visual-studio"/>
<add key="/reporting/AddGraphToReport.html" value="/designing-reports/report-structure/graph/how-to/how-to-add-graph-to-report"/>
<add key="/reporting/advanced-creating-multi-column-reports.html" value="/telerikreporting/designing-reports/report-structure/how-to/how-to-create-a-multi-column-report"/>
<add key="/reporting/advanced-localizing-reports.html" value="/telerikreporting/designing-reports/localizing-reports"/>
<add key="/reporting/angular-report-how-to-use-with-angular-cli" value="/telerikreporting/using-reports-in-applications/display-reports-in-applications/web-application/angular-report-viewer/how-to-use-angular-report-viewer-with-angular-cli"/>
    </rewriteMap>
</rewriteMaps> 