<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appSettings>
        <clear />
    </appSettings>

    <system.web>
        <httpRuntime maxRequestLength="102400" maxUrlLength="102400" maxQueryStringLength="10000" requestValidationType="System.Web.Util.RequestValidator" />

        <httpModules>
            <clear />
        </httpModules>

        <httpHandlers>
            <clear />
        </httpHandlers>
    </system.web>

    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <modules runAllManagedModulesForAllRequests="true">
            <remove name="ClaimsPrincipalHttpModule" />
            <remove name="SitefinityClaimsAuthenticationModule" />
            <remove name="Sitefinity" />
            <remove name="SessionAuthenticationModule" />
            <remove name="ScriptModule" />
            <remove name="RadUploadModule" />
            <remove name="SitefinityAnalyticsModule" />
        </modules>
        <handlers>
            <remove name="xamlx-64" />
            <remove name="xamlx-script" />
            <remove name="svc-64" />
            <remove name="svc-script" />
            <remove name="xamlx" />
            <remove name="svc" />
            <remove name="ScriptHandlerFactory" />
            <remove name="ScriptHandlerFactoryAppServices" />
            <remove name="ScriptResource" />
            <remove name="WildCard" />
            <remove name="WildCard32" />
            <remove name="Telerik.Web.UI.DialogHandler" />
            <remove name="Telerik.RadUploadProgressHandler" />
            <remove name="Telerik.Sitefinity.FilesDownloadHandler" />
            <remove name="Telerik.Sitefinity.ExportSubscribersHttpHandler" />
            <remove name="Telerik.Sitefinity.LibrariesRadUploadHandler" />
            <remove name="Telerik.Sitefinity.Html5UploadHandler" />
            <remove name="Telerik.Sitefinity.ThumbnailUploadHandler" />
            <remove name="Telerik.Sitefinity.AsyncImageUploadHandler" />
            <remove name="Telerik.Sitefinity.AsyncFileUploadHandler" />
            <remove name="Telerik.Sitefinity.AsyncToolsetXmlUploadHandler" />
            <remove name="Telerik.Web.UI.SpellCheckHandler" />
            <remove name="Telerik_Web_UI_WebResource_axd" />
            <remove name="Telerik_Web_UI_DialogHandler_aspx" />
            <remove name="Telerik.ReportViewer.axd_*" />
        </handlers>
        <rewrite>
			<rewriteMaps configSource="redirect.config" />
			<rules>
			    <rule name="Redirect to https" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
						<add input="{HTTP_HOST}" pattern="localhost" negate="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
                </rule>
				<rule name="index" enabled="true" stopProcessing="true">
                    <match url="^/?$" />
                    <action type="Redirect" url="introduction" redirectType="Found" />
                </rule>
				<rule name="Rule for redirects">
                    <match url=".*" />
                    <conditions>
                        <add input="{Redirect:{REQUEST_URI}}" pattern="(.+)" />
                    </conditions>
                    <action type="Redirect" url="{C:1}" appendQueryString="true" />
                </rule>
				 <rule name="add_html_extension" enabled="true" stopProcessing="true">
					<match url="(.*)" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}.html" matchType="IsFile" />
					</conditions>
					<action type="Rewrite" url="{R:1}.html" />
				</rule>
        <rule name="troubleshooting" enabled="true" stopProcessing="true">
            <match url="troubleshooting/?$" />
            <action type="Redirect" url="knowledge-base/?$" redirectType="Found" />
        </rule>
        <rule name="export-and-configure" enabled="true" stopProcessing="true">
            <match url="using-reports-in-applications/export-and-configure/(cache-management|configure-the-export-formats|configure-the-report-engine)/?$" />
            <action type="Redirect" url="doc-output/?$" redirectType="Found" />
        </rule>
        <rule name="embedding-reports-from-using" enabled="true" stopProcessing="true">
            <match url="using-reports-in-applications/(call-the-report-engine-via-apis|display-reports-in-applications|host-the-report-engine-remotely|program-the-report-definition)/?$" />
            <action type="Redirect" url="embedding-reports/?$" redirectType="Found" />
        </rule>
        <rule name="embedding-reports-report-sources" enabled="true" stopProcessing="true">
            <match url="designing-reports/report-sources/?$" />
            <action type="Redirect" url="embedding-reports/?$" redirectType="Found" />
        </rule>
        <rule name="adding-interactivity" enabled="true" stopProcessing="true">
            <match url="designing-reports/adding-interactivity-to-reports/?$" />
            <action type="Redirect" url="interactivity/?$" redirectType="Found" />
        </rule>
        <rule name="report-structure" enabled="true" stopProcessing="true">
            <match url="designing-reports/report-structure/?$" />
            <action type="Redirect" url="report-items/?$" redirectType="Found" />
        </rule>
        <rule name="styling" enabled="true" stopProcessing="true">
            <match url="designing-reports/(rendering-and-paging|styling-reports)/?$" />
            <action type="Redirect" url="styling/?$" redirectType="Found" />
        </rule>
			</rules>
        </rewrite>
		<httpProtocol>
			<customHeaders>
				<add name="Cache-Control" value="no-cache" />
			</customHeaders>
		</httpProtocol>

        <staticContent>
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
        </staticContent>
    </system.webServer>

</configuration>
