<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appSettings>
        <clear />
    </appSettings>

    <system.web>
        <httpRuntime maxRequestLength="102400" maxUrlLength="102400" maxQueryStringLength="10000" requestValidationType="System.Web.Util.RequestValidator" />

        <httpModules>
            <clear />
        </httpModules>

        <httpHandlers>
            <clear />
        </httpHandlers>
    </system.web>

    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <modules runAllManagedModulesForAllRequests="true">
            <remove name="ClaimsPrincipalHttpModule" />
            <remove name="SitefinityClaimsAuthenticationModule" />
            <remove name="Sitefinity" />
            <remove name="SessionAuthenticationModule" />
            <remove name="ScriptModule" />
            <remove name="RadUploadModule" />
            <remove name="SitefinityAnalyticsModule" />
        </modules>
        <handlers>
            <remove name="xamlx-64" />
            <remove name="xamlx-script" />
            <remove name="svc-64" />
            <remove name="svc-script" />
            <remove name="xamlx" />
            <remove name="svc" />
            <remove name="ScriptHandlerFactory" />
            <remove name="ScriptHandlerFactoryAppServices" />
            <remove name="ScriptResource" />
            <remove name="WildCard" />
            <remove name="WildCard32" />
            <remove name="Telerik.Web.UI.DialogHandler" />
            <remove name="Telerik.RadUploadProgressHandler" />
            <remove name="Telerik.Sitefinity.FilesDownloadHandler" />
            <remove name="Telerik.Sitefinity.ExportSubscribersHttpHandler" />
            <remove name="Telerik.Sitefinity.LibrariesRadUploadHandler" />
            <remove name="Telerik.Sitefinity.Html5UploadHandler" />
            <remove name="Telerik.Sitefinity.ThumbnailUploadHandler" />
            <remove name="Telerik.Sitefinity.AsyncImageUploadHandler" />
            <remove name="Telerik.Sitefinity.AsyncFileUploadHandler" />
            <remove name="Telerik.Sitefinity.AsyncToolsetXmlUploadHandler" />
            <remove name="Telerik.Web.UI.SpellCheckHandler" />
            <remove name="Telerik_Web_UI_WebResource_axd" />
            <remove name="Telerik_Web_UI_DialogHandler_aspx" />
            <remove name="Telerik.ReportViewer.axd_*" />
        </handlers>
        <rewrite>
			<rewriteMaps configSource="redirect.config" />
			<rules>
				<rule name="Convert to lower case" stopProcessing="true">
					<match url=".*[A-Z].*" ignoreCase="false" />
					<action type="Redirect" url="{ToLower:{R:0}}" redirectType="Permanent" />
				</rule>
			    <rule name="Redirect to https" stopProcessing="true">
					<match url=".*" />
					<conditions>
						<add input="{HTTPS}" pattern="off" ignoreCase="true" />
						<add input="{HTTP_HOST}" pattern="localhost" negate="true" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
				</rule>
				<rule name="index" enabled="true" stopProcessing="true">
					<match url="^/?$" />
					<action type="Redirect" url="introduction" redirectType="Found" />
				</rule>
				<rule name="Rule for redirects">
					<match url=".*" />
					<conditions>
						<add input="{Redirect:{URL}}" pattern="(.+)" />
					</conditions>
					<action type="Redirect" url="{C:1}" appendQueryString="true" />
				</rule>
				 <rule name="add_html_extension" enabled="true" stopProcessing="true">
					<match url="(.*)" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}.html" matchType="IsFile" />
					</conditions>
					<action type="Rewrite" url="{R:1}.html" />
				</rule>
				
				<!-- Have to escape the . (dot) before the html as otherwise occur redirects only for 'html' -->
				<rule name="Redirecting .html ext" stopProcessing="true">
					<match url="^(.*)\.html"/>
					<conditions logicalGrouping="MatchAny">
						<add input="{URL}" pattern="(.*)\.html"/>
					</conditions>
					<action type="Redirect" url="{R:1}"/>
				</rule>
						
				{% for page in site.redirect_pages %}
                    {% for prev_url in page.previous_url %}
                        <rule name="redirect-{{ prev_url | replace: '/', '-' }}" enabled="true" stopProcessing="true">
                            <match url="^{{ prev_url | remove_first: '/' | replace: '.html', '' }}$" />
                            <action type="Redirect" url="{{ page.url | remove_first: '/' | replace: '.html', '' }}" />
                        </rule>
                        {% endfor %}
                {% endfor %}
						
				<rule name="troubleshooting" enabled="true" stopProcessing="true">
				  <match url="^troubleshooting/(.*)$" />
							<action type="Redirect" url="knowledge-base/{R:1}" redirectType="Permanent" />
				</rule>		
				
				<rule name="configure-export-formats" enabled="true" stopProcessing="true">
				  <match url="^using-reports-in-applications/export-and-configure/configure-the-export-formats/(.*)$" />
				  <action type="Redirect" url="doc-output/configure-the-export-formats/{R:1}" redirectType="Permanent" />
				</rule>
				<rule name="configure-report-engine" enabled="true" stopProcessing="true">
				  <match url="^using-reports-in-applications/export-and-configure/configure-the-report-engine/(.*)$" />
				  <action type="Redirect" url="doc-output/configure-the-report-engine/{R:1}" redirectType="Permanent" />
				</rule>
				<rule name="display-reports-apps" enabled="true" stopProcessing="true">
				  <match url="^using-reports-in-applications/display-reports-in-applications/(.*)$" />
				  <action type="Redirect" url="embedding-reports/display-reports-in-applications/{R:1}" redirectType="Permanent" />
				</rule>
				<rule name="host-report-engine-remotely" enabled="true" stopProcessing="true">
				  <match url="^using-reports-in-applications/host-the-report-engine-remotely/(.*)$" />
				  <action type="Redirect" url="embedding-reports/host-the-report-engine-remotely/{R:1}" redirectType="Permanent" />
				</rule>
				<rule name="program-report-definition" enabled="true" stopProcessing="true">
				  <match url="^using-reports-in-applications/program-the-report-definition/(.*)$" />
				  <action type="Redirect" url="embedding-reports/program-the-report-definition/{R:1}" redirectType="Permanent" />
				</rule>
				<rule name="adding-interactivity" enabled="true" stopProcessing="true">
				  <match url="^designing-reports/adding-interactivity-to-reports/(.*)$" />
				  <action type="Redirect" url="interactivity/{R:1}" redirectType="Permanent" />
				</rule>
				<rule name="report-structure" enabled="true" stopProcessing="true">
				  <match url="^designing-reports/report-structure/(.*)$" />
				  <action type="Redirect" url="report-items/{R:1}" redirectType="Permanent" />
				</rule>
				<rule name="rendering-paging" enabled="true" stopProcessing="true">
				  <match url="^designing-reports/rendering-and-paging/(.*)$" />
				  <action type="Redirect" url="styling/rendering-and-paging/{R:1}" redirectType="Permanent" />
				</rule>
				<rule name="styling-reports" enabled="true" stopProcessing="true">
				  <match url="^designing-reports/styling-reports/(.*)$" />
				  <action type="Redirect" url="styling/styling-reports/{R:1}" redirectType="Permanent" />
				</rule>
				<rule name="converting" enabled="true" stopProcessing="true">
				  <match url="^designing-reports/converting-reports-from-other-reporting-solutions/(.*)$" />
				  <action type="Redirect" url="importing-reports/{R:1}" redirectType="Permanent" />
				</rule>
			</rules>
        </rewrite>
		<httpProtocol>
			<customHeaders>
				<add name="Cache-Control" value="no-cache" />
			</customHeaders>
		</httpProtocol>

        <staticContent>
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
        </staticContent>
    </system.webServer>

</configuration>
