a.all-components {
  background-image: url("/devtools/document-processing/assets/article-menu.svg");
}

span.all-components-expanded-icon {
  background-image: url("/devtools/document-processing/assets/group-expand-collapse.svg");
}

/* Feedback Styles */

.feedback-more-info {
  max-height: 0;
  overflow: hidden;
  padding-left: 15px;
}

.feedback-more-info.show {
  display: block;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  max-height: 205px;
}

.feedback-more-info.hide {
  max-height: 50px;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.feedback-more-info .feedback-other-text-input {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 120px;
}

.feedback-more-info .feedback-other-text-input:focus {
  outline: none;
}

.feedback-more-info .feedback-skip-button {
  padding: 6px 0;
  margin-left: 15px;
  text-transform: none;
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
}

.feedback-more-info .feedback-skip-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.feedback-more-info .feedback-ab-submit-button {
  padding: 6px 12px;
  margin: 0;
  background-color: #27A306;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
}

.feedback-more-info .feedback-ab-submit-button:hover, .feedback-more-info .feedback-ab-submit-button:active, .feedback-more-info .feedback-ab-submit-button:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.feedback-row .close-button-container {
  display: none;
  position: fixed;
  bottom: 6px;
  right: 16px;
  padding: 8px;
}

.feedback-row .close-button-container:hover {
  cursor: pointer;
}

.feedback-row.vote-disabled {
  display: none;
}

.feedback-row.vote-hide {
  -webkit-animation-name: hideFeedback;
  animation-name: hideFeedback;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes hideFeedback {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes hideFeedback {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.feedback-row.feedback-fixed {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
  z-index: 1100;
}

.feedback-row.feedback-fixed .close-button-container {
  display: block;
}

.feedback-row h4 {
  color: #ffffff !important;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 21px;
}

.feedback-row button {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  background: transparent;
  border: none;
  color: #f1f1f1;
  cursor: pointer;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

.feedback-row button:hover, .feedback-row button:focus, .feedback-row button:active, .feedback-row button:visited {
  color: #ffffff;
  outline: none;
}

.feedback-row div.feedback>div {
  line-height: 23px;
}

.feedback-row h4 {
  color: #ffffff !important;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 21px;
}

.feedback-row button {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  background: transparent;
  border: none;
  color: #f1f1f1;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.feedback-row button:hover, .feedback-row button:focus, .feedback-row button:active, .feedback-row button:visited {
  color: #ffffff;
  outline: none;
}
.feedback-row {
  background-image: url("/devtools/document-processing/assets/feedback-bgr.svg");
  background-size: cover;
  background-repeat: repeat-x;
  padding-top: 14px;
  padding-bottom: 13px;
  font-size: 20px;
  font-weight: 500;
  z-index: 1100;
}

.feedback-row button {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  background: transparent;
  border: none;
  color: #f1f1f1;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.feedback-row button:hover, .feedback-row button:focus, .feedback-row button:active, .feedback-row button:visited {
  color: #ffffff;
  outline: none;
}

.feedback-row h4 {
  color: #ffffff !important;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 21px;
}

.feedback-row button {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  background: transparent;
  border: none;
  color: #f1f1f1;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.feedback-row button:hover, .feedback-row button:focus, .feedback-row button:active, .feedback-row button:visited {
  color: #ffffff;
  outline: none;
}

.feedback-dialog {
  position: absolute;
  width: 500px;
  height: 560px;
  top: 50%;
  left: 50%;
  margin: -290px auto auto -250px;
  padding: 20px;
  background-color: #f7f7f8;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}

.feedback-dialog h3+p {
  color: #8a959f;
}

#feedback-form {
  -webkit-flex: 1;
  -moz-flex: 1;
  overflow: auto;
}

#feedback-form span.required-field:after {
  content: "* required";
  font-size: 11px;
  float: right;
}

#feedback-form textarea {
  margin: 12px 0 0px !important;
  margin-top: 2px !important;
}

#feedback-form .checkbox__input {
  float: left;
}

#feedback-form .checkbox__text {
  line-height: 18px;
  margin-left: 5px;
}

#feedback-form .feedback-extw__textarea, #feedback-form .feedback-extw__input {
  padding: 10px;
  border: 1px solid #d9d9d9;
  width: 100%;
  box-sizing: border-box;
  font: inherit;
  font-style: italic;
}

#feedback-form .feedback-extw__textarea {
  resize: none;
}

#feedback-form .feedback-extw__input, #feedback-form .feedback-extw__textarea {
  margin: 12px 0 6px;
}

#feedback-form span.k-tooltip {
  border: 0;
  color: #ff0000;
  font-style: italic;
  font-size: 12px;
  padding: 0 0 6px !important;
}

#feedback-checkbox-area label {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 5px 0 0;
  padding: 5px 0 0;
}

#feedback-checkbox-area #feedback-email-input {
  margin-top: 20px !important;
}

#feedback-form-window {
  height: 510px !important;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

#feedback-form-window h3+p {
  color: #8a959f;
}

#feedback-form-window input::-webkit-input-placeholder, #feedback-form-window textarea::-webkit-input-placeholder, #feedback-form-window input:-moz-placeholder, #feedback-form-window textarea:-moz-placeholder, #feedback-form-window input::-moz-placeholder, #feedback-form-window textarea::-moz-placeholder, #feedback-form-window input:-ms-input-placeholder, #feedback-form-window textarea:-ms-input-placeholder {
  color: #d9d9d9;
}

#feedback-form-window>* {
  padding-right: 15px;
}

#feedback-extw__checkbox:after {
  content: "";
  display: block;
  clear: both;
}

.button-close {
  position: absolute;
  top: 12px;
  right: 12px;
  border: 0;
  width: 32px;
  height: 32px;
  background: url("/document-processing/assets/close.svg") no-repeat 50% 50%;
}

.button-close span {
  display: none;
}

.button-close:focus {
  outline: none;
}

/* Search */

.global-search input {
  background-image: url("/devtools/document-processing/assets/search.svg");
}

.local-search input {
  background: url("/devtools/document-processing/assets/search.svg") #fff no-repeat 10px 50%;
}

#refine-search-popup li:hover {
  background-color: #27A306;
}

/*Icon font*/

@font-face {
  font-family: 'WebComponentsIcons';
  src: url("/devtools/document-processing/assets/WebComponentsIcons.eot");
  src: url("/devtools/document-processing/assets/WebComponentsIcons.eot"), url("/devtools/document-processing/assets/WebComponentsIcons.woff"), url("/devtools/document-processing/assets/WebComponentsIcons.ttf"), url("/devtools/document-processing/assets/WebComponentsIcons.svg");
  font-weight: normal;
  font-style: normal;
}

.WebComponentsIcons {
  list-style: none;
  margin: 0;
  padding: 0;
}

.WebComponentsIcons::after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  line-height: 0;
}

.WebComponentsIcons li {
  margin: 10px;
  padding: 10px;
  display: block;
  float: left;
  vertical-align: top;
  text-align: center;
  width: 140px;
  height: 80px;
  font-size: 12px;
  font-weight: 300;
  color: #999;
}

.WebComponentsIcons .k-icon {
  display: block;
  clear: both;
  margin: 0 auto 10px;
  color: #656565;
  font-size: 32px;
}

.k-icon {
  width: 1em;
  height: 1em;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-family: 'WebComponentsIcons';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
  text-decoration: none;
  display: inline-block;
}

.k-i-document-processing::before {
  content: "\e658";
}
